label.error{
	color: red;
	font-weight: bold;
	vertical-align: top;
	float:center;
	padding-left:.5em;
	white-space:nowrap;
}
div.errorProne{
	height: 70px;
}
#nhiTwo{text-transform:uppercase}
#nhi-rep{text-transform:uppercase}

.noPrint{
	display:none !important;
}

body{
	font:9pt Arial, Georgia,"Times New Roman",Times, serif !important;
	line-height:1.3 !important;
}




label{font:9pt Arial, Georgia,"Times New Roman",Times, serif !important;
	line-height:1.3 !important;}
	
	
	
/*h1{
	font:14pt Georgia,"Times New Roman",Times, serif !important;
}*/

h1{
	font:14pt Arial!important;
}

#stickyLabel{
	border:2pt ;
	height: 2cm;
}

.ui-state-disabled {
    opacity:1 !important;
}
.ui-btn-up-c {
   border: 2px solid #999999 !important;
}

#nurseCheck{
	width:40%;
	float:right;
	margin-top:10pt;
}

input[type=checkbox]
{
 /* Double-sized Checkboxes */
 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
 padding: 10px;
}


label.check{
	font:9pt Arial;
    display: block;
    padding-left: 15pt;
    text-indent: -15pt;
}
input.check {
	font:9pt Arial;
    width: 9pt;
    height: 9pt;
    padding: 0;
    margin-right:20pt;
    vertical-align: bottom;
    position: relative;
    top: -1pt;
    *overflow: hidden;
}
input.sign{
    width: 120pt;
    height: 9pt;
    padding: 0;
    margin-right:20pt;
    vertical-align: bottom;
    position: relative;
    top: -1pt;
    *overflow: hidden;
	
}