label.error{
	color: red;
	font-weight: bold;
	vertical-align: top;
	float:center;
	padding-left:.5em;
	white-space:nowrap;
}
div.errorProne{
	height: 70px;
}
#nhiTwo{text-transform:uppercase}
#nhi-rep{text-transform:uppercase}

.noScreen{
	display:none;
}
.ui-state-disabled {
    opacity: 0.9;
}